# PGA_dataset_2024

The Purpose of this notebook is to to familiarize myself with the use of pandas. In this notebook, I merge and clean the various stats i have downloaded from the website "pgatour.com" of the 2024 season

In [1]:

# Imports
import pandas as pd

My approach of cleaning can be broken down to four parts 

1. Extracting - Extracting my data and converting them into dataframe and keep only the columns i need 
2. Merging - Merge the dataframes together by matching the individual players to its stats
3. Cleaning - Check and Fill missing values, Rename columns, and change order of columns
4. Exporting - Export the final dataset as a CSV file




This Process will be applied to two different dataframes
1.  Main - Dataframe with all stats for the individual players
2.  Strokes Gained - Dataframe with the different strokes gained stats and the ranking within that stat

## Main Dataframe

###  1 - Importing the stats and extracting the columns i need

In [2]:

# Driving distance
df1 = pd.read_csv("PGAdata/Driving_Distance.csv", delimiter=',')
df_DD = df1[['PLAYER_ID', 'PLAYER', 'AVG']]

# Accuracy off the Tee
df2 = pd.read_csv("PGAdata/FWY.csv", delimiter=',')
df_FWY = df2[['PLAYER_ID', 'PLAYER', '%']].copy()

# Green in regulation
df5 = pd.read_csv("PGAdata/GIR.csv", delimiter=',')
df_GIR = df5[['PLAYER_ID', 'PLAYER', '%']].copy()

# Scoring
df6 = pd.read_csv("PGAdata/Scoring.csv", delimiter=',')
df_Scoring = df6[['PLAYER_ID', 'PLAYER', 'AVG','TOTAL ROUNDS']].copy()

# SG putting
df7 = pd.read_csv("PGAdata/SG_Putting.csv", delimiter=',')
df_Putting = df7[['PLAYER_ID', 'PLAYER', 'AVG']].copy()

#SG total
df8 = pd.read_csv("PGAdata/SG_Total.csv", delimiter=',')
df_SG = df8[['PLAYER_ID', 'PLAYER', 'AVG']].copy()

# SG Off the Tee
df9 = pd.read_csv("PGAdata/SG_OTT.csv", delimiter=',')
df_OTT = df9[['PLAYER_ID', 'PLAYER', 'AVG']].copy()

# SG Around the green
df10 = pd.read_csv("PGAdata/SG_Apporach.csv", delimiter=',')
df_Approach = df10[['PLAYER_ID', 'PLAYER', 'AVG']].copy()

# SG Approach to green
df11 = pd.read_csv("PGAdata/SG_AroundTheGreen.csv", delimiter=',')
df_AroundTheGreen = df11[['PLAYER_ID', 'PLAYER', 'AVG']].copy()

# Top 10 finishes 
df12 = pd.read_csv("PGAdata/Top10.csv", delimiter=',')
df_TOP10 = df12[['PLAYER_ID', 'PLAYER', 'TOP 10']].copy()

# Wins 
df13 = pd.read_csv("PGAdata/Wins.csv", delimiter=',')
df_Wins = df13[['PLAYER_ID', 'PLAYER', 'VICTORIES']].copy()

### 2 - Merging the datasets together by the 'PLAYER' and 'PLAYER_ID' columns

In [3]:

# Merging TTF and total SG
df_OTT_SG = pd.merge(df_OTT, df_SG, on=['PLAYER_ID', 'PLAYER'], how='inner', suffixes=('_OTT_SG', '_Total_SG'))

# Merging PuttingSG and AVGscore
df_Putt_Score = pd.merge(df_Putting, df_Scoring, on=['PLAYER_ID', 'PLAYER'], how='inner', suffixes=('_Putting_SG', '_Scoring'))

# Merging the two above
df_SG1 = pd.merge(df_OTT_SG, df_Putt_Score, on=['PLAYER_ID', 'PLAYER'], how='inner')

# Merging the two above
df_SG2 = pd.merge(df_AroundTheGreen, df_Approach, on=['PLAYER_ID', 'PLAYER'], how='inner', suffixes=('ATG', 'APP'))

df_SG = pd.merge(df_SG1, df_SG2, on=['PLAYER_ID', 'PLAYER'], how='inner')

# Merging FWY and GIR
df_Shots = pd.merge(df_FWY, df_GIR, on=['PLAYER_ID', 'PLAYER'], how='right', suffixes=('_FWY', '_GIR'))

# Merging the one above the Driver distance
df_Driver = pd.merge(df_DD, df_Shots, on=['PLAYER_ID', 'PLAYER'], how='inner')

# Merging Wins and TOP10s
df_Placement = pd.merge(df_Wins, df_TOP10, on=['PLAYER_ID', 'PLAYER'], how='inner')

# Merging the two above
df_DriverAndPlacement = pd.merge(df_Driver, df_Placement, on=['PLAYER_ID', 'PLAYER'], how='left')

# Merging all values together
df_whole = pd.merge(df_SG, df_DriverAndPlacement, on=['PLAYER_ID', 'PLAYER'], how='inner')

# Checking the dataframe
df_whole

,PLAYER_ID,PLAYER,AVG_OTT_SG,AVG_Total_SG,AVG_Putting_SG,AVG_Scoring,TOTAL ROUNDS,AVGATG,AVGAPP,AVG,%_FWY,%_GIR,VICTORIES,TOP 10
0,52372,Cameron Champ,0.883,-0.160,0.310,70.40,60,-0.637,-0.716,322.8,NaN,68.32%,NaN,NaN
1,46046,Scottie Scheffler,0.816,2.496,0.095,68.01,75,0.316,1.269,303.8,NaN,73.16%,7.0,16.0
2,47663,Kevin Dougherty,0.766,-0.539,-0.414,70.72,65,-0.372,-0.518,316.8,NaN,68.82%,NaN,NaN
3,28237,Rory McIlroy,0.730,1.412,0.173,69.74,69,0.248,0.260,320.2,NaN,65.70%,2.0,7.0
4,37378,Min Woo Lee,0.690,0.478,-0.110,70.06,70,0.111,-0.213,314.8,NaN,65.40%,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,47806,Raul Pereda,-0.836,-1.879,0.142,72.10,50,-0.137,-1.047,290.1,NaN,57.33%,NaN,NaN
180,27770,Camilo Villegas,-0.960,-1.988,-0.720,71.70,61,-0.057,-0.251,284.9,51.85%,66.28%,NaN,NaN
181,22371,Aaron Baddeley,-1.031,-0.499,0.487,70.76,76,0.404,-0.359,283.4,54.72%,63.39%,NaN,NaN
182,34374,Erik Barnes,-1.143,-1.868,-0.028,71.72,58,-0.035,-0.662,302.3,NaN,61.63%,0.0,1.0
183,55789,Taylor Montgomery,-1.352,-0.704,0.866,70.71,58,0.224,-0.442,289.7,42.86%,60.49%,NaN,NaN

### 3 - Cleaning the dataset

In [4]:

# Checking the datatypes of the dataframe
df_whole.dtypes

PLAYER_ID           int64
PLAYER             object
AVG_OTT_SG        float64
AVG_Total_SG      float64
AVG_Putting_SG    float64
AVG_Scoring       float64
TOTAL ROUNDS        int64
AVGATG            float64
AVGAPP            float64
AVG               float64
%_FWY              object
%_GIR              object
VICTORIES         float64
TOP 10            float64
dtype: object

All columns are the correct type, except of FWY and GIR which i need to be a float to perform operations on them

In [5]:

#The df_FWY and the df_GIR was laoded as an object, converting it into a float

df_whole['%_FWY'] = df_whole['%_FWY'].str.replace('%', '')
df_whole['%_FWY'] = pd.to_numeric(df_whole['%_FWY'], errors='coerce')

df_whole['%_GIR'] = df_whole['%_GIR'].str.replace('%', '')
df_whole['%_GIR'] = pd.to_numeric(df_whole['%_GIR'], errors='coerce')

# Checking the datatypes of the dataframe again
df_whole.dtypes

PLAYER_ID           int64
PLAYER             object
AVG_OTT_SG        float64
AVG_Total_SG      float64
AVG_Putting_SG    float64
AVG_Scoring       float64
TOTAL ROUNDS        int64
AVGATG            float64
AVGAPP            float64
AVG               float64
%_FWY             float64
%_GIR             float64
VICTORIES         float64
TOP 10            float64
dtype: object

All column is the correct datatype they should be now

In [6]:

# Checking for missing values in the columns
df_whole[['PLAYER_ID', 'PLAYER', 'AVG_OTT_SG', 'AVG_Total_SG', 'AVG_Putting_SG','AVG_Scoring', 'AVG', '%_FWY', '%_GIR', 'VICTORIES', 'TOP 10', 'TOTAL ROUNDS', 'AVGATG', 'AVGAPP']].isna().sum().reset_index()

             index   0
0        PLAYER_ID   0
1           PLAYER   0
2       AVG_OTT_SG   0
3     AVG_Total_SG   0
4   AVG_Putting_SG   0
5      AVG_Scoring   0
6              AVG   0
7            %_FWY  60
8            %_GIR   0
9        VICTORIES  25
10          TOP 10  25
11    TOTAL ROUNDS   0
12          AVGATG   0
13          AVGAPP   0

The columns, FWY, Victories and TOP 10, has missing values, for victories and top 10, they will be filled with 0, but FWY will be filled with the average FWY of the field. This might be a little misleading, but it is an assumption that will give me more data to analyze when i am going to make a regressor model later on

In [7]:

# Finding the mean FWY of all players with values
df_meanFWY = df_whole[['%_FWY']].dropna()
meanFWY = df_meanFWY.mean()

# Applying the mean FWY to the players missing FWY stats
df_whole[['%_FWY']] = df_whole[['%_FWY']].fillna(meanFWY)

# Filling Nan in Victories and TOP 10 and changing the datatype to int
df_whole[['VICTORIES']] = df_whole[['VICTORIES']].fillna(0)
df_whole['VICTORIES'] = df_whole['VICTORIES'].astype(int)

df_whole[['TOP 10']] = df_whole[['TOP 10']].fillna(0)
df_whole['TOP 10'] = df_whole['TOP 10'].astype(int)

#### Rechecking the missing values

In [8]:

df_whole[['PLAYER_ID', 'PLAYER', 'AVG_OTT_SG', 'AVG_Total_SG', 'AVG_Putting_SG','AVG_Scoring', 'AVG', '%_FWY', '%_GIR', 'VICTORIES', 'TOP 10', 'TOTAL ROUNDS', 'AVGATG', 'AVGAPP']].isna().sum().reset_index()

             index  0
0        PLAYER_ID  0
1           PLAYER  0
2       AVG_OTT_SG  0
3     AVG_Total_SG  0
4   AVG_Putting_SG  0
5      AVG_Scoring  0
6              AVG  0
7            %_FWY  0
8            %_GIR  0
9        VICTORIES  0
10          TOP 10  0
11    TOTAL ROUNDS  0
12          AVGATG  0
13          AVGAPP  0

This confirms that it is no columns with missing values now

#### Renaming columns, changing the ordering and sorting the dataframe

In [9]:

# Changing naming of AVG driver distance from AVG to AVG_Driver
df_whole = df_whole.rename(columns={"AVG": "Drive_Distance",
                                   "AVG_OTT_SG": "SG_OTT",
                                   "AVG_Total_SG": "SG_T",
                                   "AVG_Putting_SG": "SG_P",
                                   "AVGATG": "SG_ATG",
                                   "AVGAPP": "SP_APP",
                                   "TOTAL ROUNDS": "ROUNDS",
                                   "AVG_Scoring": "Average_Score",
                                   "%_FWY": "FWY_%",
                                   "%_GIR": "GIR_%"})


df_whole = df_whole[['PLAYER_ID', 'PLAYER', 'SG_T','SG_P','SG_ATG', 'SP_APP','SG_OTT','Average_Score','ROUNDS','GIR_%','FWY_%','Drive_Distance', 'VICTORIES','TOP 10']]


# Sorting the dataframe by 'TOP 10' placements

df_whole = df_whole.sort_values('TOP 10', ascending = False).reset_index(drop = True)

df_whole

,PLAYER_ID,PLAYER,SG_T,SG_P,SG_ATG,SP_APP,SG_OTT,Average_Score,ROUNDS,GIR_%,FWY_%,Drive_Distance,VICTORIES,TOP 10
0,46046,Scottie Scheffler,2.496,0.095,0.316,1.269,0.816,68.01,75,73.16,60.701371,303.8,7,16
1,48081,Xander Schauffele,1.941,0.510,0.195,0.678,0.557,68.52,83,69.97,53.330000,308.5,2,15
2,51634,Sahith Theegala,0.944,0.257,0.064,0.272,0.350,69.80,93,67.86,64.660000,305.7,0,9
3,39971,Sungjae Im,0.800,0.138,0.264,0.054,0.344,69.51,91,65.13,76.670000,298.8,0,8
4,50525,Collin Morikawa,1.203,0.121,0.374,0.292,0.417,69.34,79,65.19,81.670000,296.0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,50493,Justin Suh,-0.324,0.589,-0.187,-0.523,-0.203,70.35,77,67.04,60.701371,300.2,0,0
180,60004,Jacob Bridgeman,0.557,0.584,0.140,0.084,-0.251,69.32,82,68.38,50.000000,300.6,0,0
181,48699,Callum Tarren,-1.247,-0.629,-0.182,-0.092,-0.344,71.11,73,66.43,60.701371,306.9,0,0
182,33486,Roger Sloan,0.069,0.181,0.139,0.098,-0.348,70.35,69,67.34,60.701371,293.2,0,0
183,55789,Taylor Montgomery,-0.704,0.866,0.224,-0.442,-1.352,70.71,58,60.49,42.860000,289.7,0,0

### 4 - Exporting the dataframe into a CVS file

In [10]:

df_whole.to_csv('PGAdata/PGA_Data_Cleaned.csv', index=False)

print("Dataframe is saved as 'PGA_Data_Cleaned.csv'")

Dataframe is saved as 'PGA_Data_Cleaned.csv'

## SG Dataframe

###  1 - Importing the stats and extracting the columns i need

In [11]:

# SG putting
df90 = pd.read_csv("PGAdata/SG_Putting.csv", delimiter=',')
Puttingdf = df90[['RANK','PLAYER_ID', 'PLAYER', 'AVG']].copy()

#SG total
df91 = pd.read_csv("PGAdata/SG_Total.csv", delimiter=',')
TSGdf = df91[['RANK','PLAYER_ID', 'PLAYER', 'AVG']].copy()

# SG tee to green
df92 = pd.read_csv("PGAdata/SG_OTT.csv", delimiter=',')
OTTdf = df92[['RANK','PLAYER_ID', 'PLAYER', 'AVG']].copy()

# SG Around the green
df93 = pd.read_csv("PGAdata/SG_Apporach.csv", delimiter=',')
Approachdf = df93[['RANK','PLAYER_ID', 'PLAYER', 'AVG']].copy()

# SG Approach to green
df94 = pd.read_csv("PGAdata/SG_AroundTheGreen.csv", delimiter=',')
AroundTheGreendf = df94[['RANK','PLAYER_ID', 'PLAYER', 'AVG']].copy()

### 2 - Merging the new Dataframes

In [12]:

# Merging PuttingSG and AVGscore
SG1 = pd.merge(Puttingdf, TSGdf, on=['PLAYER_ID', 'PLAYER'], how='inner', suffixes=('_Putting_SG', '_TSG'))
SG2 = pd.merge(OTTdf, Approachdf, on=['PLAYER_ID', 'PLAYER'], how='inner', suffixes=('_OTT', '_Approach'))
SG3 = pd.merge(SG1, SG2, on=['PLAYER_ID', 'PLAYER'], how='inner')

SGdf = pd.merge(SG3, AroundTheGreendf, on=['PLAYER_ID', 'PLAYER'], how='inner')

SGdf = SGdf.rename(columns={"RANK_Putting_SG": "RANK_P",
                                    "AVG_Putting_SG": "SG_P",
                                    "RANK_TSG": "RANK_T",
                                    "AVG_TSG": "SG_T",
                                    "RANK_OTT": "RANK_OTT",
                                    "AVG_OTT": "SG_OTT",
                                    "RANK_Approach": "RANK_APP",
                                    "AVG_Approach": "SG_APP",
                                    "RANK": "RANK_ATG",
                                    "AVG": "SG_ATG"})

# Viewing the SG dataframe
SGdf

,RANK_P,PLAYER_ID,PLAYER,SG_P,RANK_T,SG_T,RANK_OTT,SG_OTT,RANK_APP,SG_APP,RANK_ATG,SG_ATG
0,1,55789,Taylor Montgomery,0.866,163,-0.704,184,-1.352,165,-0.442,33,0.224
1,2,51977,Max Greyserman,0.749,20,0.870,63,0.180,104,0.013,128,-0.072
2,3,35506,Mackenzie Hughes,0.742,36,0.705,153,-0.289,136,-0.192,4,0.444
3,4,47993,Denny McCarthy,0.699,33,0.716,155,-0.324,111,-0.017,14,0.358
4,5,40250,Taylor Pendrith,0.592,18,0.880,70,0.149,68,0.186,118,-0.047
...,...,...,...,...,...,...,...,...,...,...,...,...
179,180,48319,Tom Whitney,-0.637,160,-0.602,57,0.197,59,0.231,176,-0.392
180,181,34076,Joel Dahmen,-0.693,115,-0.073,40,0.278,16,0.486,141,-0.144
181,182,27770,Camilo Villegas,-0.720,184,-1.988,181,-0.960,141,-0.251,124,-0.057
182,183,27330,Josh Teater,-0.862,179,-1.421,132,-0.122,155,-0.360,130,-0.077
183,184,51070,Vincent Norrman,-0.954,176,-1.374,55,0.214,147,-0.313,169,-0.322

### 3 - Cleaning the dataset

In [13]:

SGdf = SGdf[['PLAYER_ID', 'PLAYER', 'RANK_T','SG_T','RANK_P', 'SG_P','RANK_OTT','SG_OTT','RANK_APP','SG_APP','RANK_ATG','SG_ATG']]
SGdf = SGdf.sort_values('RANK_T', ascending = True).reset_index(drop = True)
SGdf[:10]

,PLAYER_ID,PLAYER,RANK_T,SG_T,RANK_P,SG_P,RANK_OTT,SG_OTT,RANK_APP,SG_APP,RANK_ATG,SG_ATG
0,46046,Scottie Scheffler,1,2.496,77,0.095,2,0.816,1,1.269,17,0.316
1,48081,Xander Schauffele,2,1.941,12,0.510,10,0.557,6,0.678,42,0.195
2,28237,Rory McIlroy,3,1.412,59,0.173,4,0.730,52,0.260,28,0.248
3,32839,Hideki Matsuyama,4,1.268,121,-0.118,33,0.306,15,0.499,1,0.580
4,50525,Collin Morikawa,5,1.203,73,0.121,19,0.417,42,0.292,10,0.374
5,46414,Aaron Rai,6,1.185,87,0.054,34,0.303,7,0.676,56,0.152
6,52955,Ludvig Åberg,7,1.064,67,0.135,14,0.502,21,0.434,105,-0.008
7,58168,Davis Thompson,8,1.060,90,0.042,38,0.280,38,0.306,5,0.432
8,46442,Maverick McNealy,9,1.037,29,0.351,23,0.391,118,-0.080,10,0.374
9,29725,Tony Finau,10,1.033,156,-0.296,68,0.161,2,0.808,12,0.360

### 4 - Exporting the dataframe into a CVS file

In [14]:

SGdf.to_csv('PGAdata/PGA_SG_Cleaned.csv', index=False)
print("Dataframe is saved as 'PGA_SG_Cleaned.csv'")

Dataframe is saved as 'PGA_SG_Cleaned.csv'